:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--fontFamilyButton);
  margin: 0;
  overflow-x: hidden;
  min-width: 320px;
  min-height: 100vh;
}
