.footer {
  display: flex;
  gap: 48px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  border-top: 1px solid var(--color-light);
  width: 100%;
}

@media (max-width: 768px) {
  .footer {
    padding: 16px;
    gap: 24px;
    flex-direction: column;
  }
}
